**/__pycache__
.vscode/*
junkyard.py
example file output

pysync/Watcher.py

test_pkl/*
*test*
.pytest_cache/*
data/client_secrets.json
data/Options.json
data/Internal/token.json
data/Internal/abuse_acknowledged